{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <br/>

        <div class="panel panel-default">
            <div class="panel-heading text-center">
                <h2>Projet d'Evaluation Jimmy</h2>
            </div>
            <div class="panel-body">
                Ce site à étais dévelloper avec le framewotk symfony dans le cadre du projet d'évaluation avec d'obtenir le certificat de compétence sur les points suivant:
                <ul class="list-unstyled">
                    <br />
                    <li>C1: Maquetter une application</li>
                    <li>C2: Concevoir une base de données</li>
                    <li>C3: Mettre en place une base de données</li>
                    <li>C4: Développer une interface utilisateur ( Frontend et Backend ))</li>
                    <li>C9: Utiliser l’anglais dans son activité professionnelle en informatique</li>
                </ul>

            </div>
            <div class="panel-footer text-center">
                <a href="/annonces" class="btn btn-primary">Consulter les annonces</a>
            </div>
        </div>

    </div>

{% endblock %}